# SPDX-FileCopyrightText: 2024 Jan Schmitz <schmitz@num.uni-sb.de>
#
# SPDX-License-Identifier: CC0-1.0

default:
  image:
    name: alpine:latest
    pull_policy: [always, if-not-present]
  tags: 
    - nix

.default_template:
  parallel:
    matrix:
      - ARCH: [x86_64] #, aarch64]
        OS: [linux, darwin]

  tags:
    - ${ARCH}-${OS}
  dependencies: []

.before_script_template:
  before_script:
     - |
      if [ "$OS" == "linux" ]; then
        apk update
        apk add build-base pkgconf meson
      else if [ "$OS" == "darwin" ]; then
        brew install meson ninja pkg-config
      else
        echo "OS '$OS' not handled yet."
      fi
      fi


build:
  stage: build
  extends: .default_template
  script:
    - nix build

build-dbg:
  stage: build
  extends: .default_template
  script:
    - nix build .#epsteinlib_dbg

build-manually:
  stage: build
  extends: 
    - .default_template
    - .before_script_template
  script:
    - meson setup build -Dbuildtype=release
    - meson compile -C build
  artifacts:
    name: 'build_files'
    expose_as: 'build_files'
    paths:
      - build/


build-docs:
  stage: build
  script:
    - nix develop -c doxygen
  artifacts:
    name: 'docs'
    expose_as: 'Documentation'
    paths:
      - html/
  tags: 
    - nix
  dependencies: []

flake-check:
  stage: test
  extends: .default_template
  script:
    - nix flake check

run:
  stage: test
  extends: .default_template
  script:
    - nix run
  timeout: 2m

run-dbg:
  stage: test
  extends: .default_template
  script:
    - nix run .#epsteinlib_dbg
  timeout: 2m

pre-commit:
  stage: test
  script:
    - nix develop -c pre-commit run -a
  needs: []
  tags:
    - nix
    - x86_64-linux
  dependencies: []

meson-test:
  stage: test
  extends: 
    - .default_template
    - .before_script_template
  script:
    - !reference [build-manually, script]
    - meson test -C build
  # Not supported in gitlab right now...
  # https://forum.gitlab.com/t/ci-specifying-artifact-dependencies-when-using-parallel-matrix/45026/6
  #needs:
  #  - job: build-manually
  #    artifacts: true
  #    parallel:
  #      matrix:
  #        - ARCH: $ARCH
  #          OS: $OS
