# SPDX-FileCopyrightText: 2024 Jan Schmitz <schmitz@num.uni-sb.de>
#
# SPDX-License-Identifier: CC0-1.0

*.o
*.out
build/*

.pre-commit-config.yaml

# doxygen
html/*

# gcovr
coverage.html

# nix
result
.cache
.data

# Python
.venv
__pycache__
dist
